@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    80% {
      transform: translateX(10%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .file-list li {
      background-color: #fff;
      margin: 15px 0;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2em;
      word-break: break-word;
      overflow-wrap: break-word;
      animation: slideInFromLeft 0.6s ease-out both;
  }
  

.file-list-container {
    max-width: clamp(300px, 80vw, 800px);
    margin: 0 auto;
    text-align: left;
    width: 95%;
    overflow: hidden;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

/* file outlay */
.file {
    flex: 1;             /* 文件名占据最大的空间 */
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;   /* 加粗文件名 */
    word-break: break-word; /* 确保长文件名可以换行 */
    overflow-wrap: break-word;
    max-width: 100%;
    display: inline-block; /* 使得文本能够正确换行 */
}

.file:hover {
    text-decoration: underline;
}

/* folder outlay */
.folder {
    flex: 1;
    text-decoration: none;
    color: #1a4b80;
    font-weight: bold;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    display: inline-block;
}

.folder:hover {
    text-decoration: underline;
}

.size {
    color: #555;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    height: 100%;
}

/* center icon */
.file-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/* back link */
#breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: bold;
    padding-bottom: 10px;
  }

  #breadcrumb a {
    color: #007bff;
    text-decoration: none;
    margin: 0 2px;
  }
  
  #breadcrumb a:hover {
    text-decoration: underline;
  }
  
  
