/* 自定義按鈕 */
.fixed-button {
    width: 200px; /* 固定宽度 */
    text-align: center; /* 确保文字居中 */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 拖放高亮样式 */
body.highlight::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.3);
    z-index: 999;
    pointer-events: none; /* 防止鼠标事件干扰 */
}

body.highlight::after {
    content: "drop your file here";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(92, 92, 92, 0.685);
    color: #fff;
    padding: 60px 80px;
    border-radius: 15px;
    font-size: 2.5em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 2px dashed #fff;
    pointer-events: none; /* 防止鼠标事件干扰 */
}