<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - 图片预览</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body style="margin: 0; padding: 0; overflow: hidden;">
    <div class="image-preview-container">
        <img src="{{ url_for('main.get_image', name=name) }}" alt="{{ name }}">
        <div class="image-controls">
            <a href="/">返回首页</a>
            <a href="{{ url_for('main.download_file', name=name) }}">下载图片</a>
        </div>
    </div>
</body>

</html>