<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  </head>

  <body>
    <h1>File Sharing</h1>
    <div  id="upload"></div>
    <div class="button-container">
      <button id="uploadFilesButton" class="button">Upload Files</button>
      <button id="uploadFoldersButton" class="button">Upload Folders</button>
      <input type="file" id="fileInput" style="display: none" multiple />
      <input type="file" id="folderInput" style="display: none" multiple webkitdirectory />
    </div>

    <div class="file-list-container">
      <ul class="file-list" id="file-list">
      </ul>
    </div>

    <a id="github" href="https://github.com/kpoier/share_web" target="_blank">GitHub</a>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
