<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  </head>

  <body>
    <h1 id="file_path">File Sharing</h1>
    
    <div id="upload">
      <button id="uploadFilesButton">Upload Files</button>
      <button id="uploadFoldersButton">Upload Folders</button>
      <input type="file" id="fileInput" style="display: none" multiple />
      <input type="file" id="folderInput" style="display: none" multiple webkitdirectory />
    </div>

    <div class="file-list-container">
      <ul class="list-group" id="file-list">
        <!-- 动态生成的文件列表项 -->
      </ul>
    </div>

    <div id="github">
      <a href="https://github.com/kpoier/share_web" target="_blank">GitHub</a>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
