<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <style>
      .file-list {
        list-style-type: none;
        padding-left: 20px;
        margin: 5px 0;
      }

      .file-info {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .folder {
        font-weight: bold;
        color: #1a4b80;
      }

      .file {
        color: #007BFF;
      }
    </style>
</head>

  <body>
    <h1>Manage Files</h1>
    <div class="file-list-container">
      <ul class="file-list" id="file-list"></ul>
    </div>
    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
  </body>
</html>
